In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp38-cp38-manylinux1_x86_64.whl (37.6 MB)
     |████████████████████████████████| 37.6 MB 3.1 MB/s eta 0:00:011     |████████████████████████████▏   | 33.0 MB 2.3 MB/s eta 0:00:02
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 2.7 MB/s eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.28 protobuf-3.19.4

In [2]:
import mysql.connector as conn

In [3]:
!pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-1.4.31-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 2.9 MB/s eta 0:00:01
Collecting greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))))
  Downloading greenlet-1.1.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (156 kB)
     |████████████████████████████████| 156 kB 3.1 MB/s eta 0:00:01
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-1.4.31 greenlet-1.1.2

In [4]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.2 MB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [9]:
from sqlalchemy import create_engine
import pandas as pd

In [14]:
str_conn='mysql+pymysql://root:*******.@localhost:3306/publications'

motor=create_engine(str_conn)

In [31]:
pd.read_sql('''select DISTINCTROW authors.au_lname as 'LAST NAME', authors.au_fname as 'FIRST NAME', titles.title as 'TITLE', titles.title_id as 'IDTITULO',
(titles.price * sales.qty * titles.royalty/100*t.royaltyper/ 100) as ROYALTY2
from authors
left join titleauthor as t 
on authors.au_id = t.au_id
left join titles
on t.title_id = titles.title_id
left join sales
on titles.title_id = sales.title_id
group by (qty)''', motor)

,LAST NAME,FIRST NAME,TITLE,IDTITULO,ROYALTY2
0,Carson,Cheryl,But Is It User Friendly?,PC1035,110.160
1,Dull,Ann,Secrets of Silicon Valley,PC8888,50.000
2,Green,Marjorie,The Busy Executive's Database Guide,BU1032,3.998
3,Green,Marjorie,The Busy Executive's Database Guide,BU1032,7.996
4,Green,Marjorie,You Can Combat Computer Stress!,BU2075,25.116
5,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,BU1111,11.950
6,O'Leary,Michael,"Sushi, Anyone?",TC7777,8.994
7,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",TC3218,83.800
8,Ringer,Anne,Is Anger the Enemy?,PS2091,1.971
9,Ringer,Anne,Is Anger the Enemy?,PS2091,49.275
10,Smith,Meander,None,None,NaN
11,White,Johnson,Prolonged Data Deprivation: Four Case Studies,PS3333,29.985

In [30]:
pd.read_sql('''select DISTINCTROW authors.au_lname as 'LAST NAME', authors.au_fname as 'FIRST NAME', titles.title as 'TITLE', titles.title_id as 'IDTITULO',
(titles.price * sales.qty * titles.royalty/100*t.royaltyper/ 100) as ROYALTY2
from authors
left join titleauthor as t 
on authors.au_id = t.au_id
left join titles
on t.title_id = titles.title_id
left join sales
on titles.title_id = sales.title_id
group by (title);''', motor)

,LAST NAME,FIRST NAME,TITLE,IDTITULO,ROYALTY2
0,White,Johnson,Prolonged Data Deprivation: Four Case Studies,PS3333,29.985
1,Green,Marjorie,The Busy Executive's Database Guide,BU1032,3.998
2,Green,Marjorie,You Can Combat Computer Stress!,BU2075,25.116
3,Carson,Cheryl,But Is It User Friendly?,PC1035,110.160
4,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,BU1111,11.950
5,O'Leary,Michael,"Sushi, Anyone?",TC7777,8.994
6,Straight,Dean,Straight Talk About Computers,BU7832,29.985
7,Smith,Meander,None,None,NaN
8,Dull,Ann,Secrets of Silicon Valley,PC8888,50.000
9,Locksley,Charlene,Net Etiquette,PC9999,NaN
10,Locksley,Charlene,Emotional Security: A New Algorithm,PS7777,19.975
11,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,TC4203,33.460
12,del Castillo,Innes,Silicon Valley Gastronomic Treats,MC2222,23.988
13,DeFrance,Michel,The Gourmet Microwave,MC3021,13.455
14,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,PS1372,10.795
15,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",TC3218,83.800
16,Ringer,Anne,Is Anger the Enemy?,PS2091,1.971
17,Ringer,Albert,Life Without Fear,PS2106,17.500